@font-face {
    font-family: IRANSans;
    font-weight: 700;
    src: url(./IRANSansWeb_Bold.ttf);
}

@font-face {
    font-family: IRANSans;
    font-weight: 400;
    src: url(./IRANSansWeb.ttf);
}

@font-face {
    font-family: IRANSans;
    font-weight: 300;
    src: url(./IRANSansWeb_Light.ttf);
}

@font-face {
    font-family: IRANSans;
    font-weight: 200;
    src: url(./IRANSansWeb_UltraLight.ttf);
}

@font-face {
    font-family: IRANSans;
    font-weight: 500;
    src: url(./IRANSansWeb_Medium.ttf);
}
