.introContainer {
    width: 1060px;
    height: 660px;
    border-radius: 36px;
    background-color: #F5F9F8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 14px 17px rgba(0, 0, 0, 0.08);
}
.introTitle {
    width: 100%;
    height: 110px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introContent {
    width: 100%;
    height: 550px;
    padding: 34px 23px;
    border-radius: 36px;
    background-color: white;
}
.introContentWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}
.introContentText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}