.videoContainer {
    cursor: pointer;
    border-radius: 31px;
    width: 640px;
    height: 480px;
    background-image: url("https://picsum.photos/640/480");
    position: relative;
}
.videoPlayBtn {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 190px;
    right: 270px;
}
.videoBackground {
    border-radius: 31px;
    width: 100%;
    height: 100%;
    background-color: #00000059;
    position: absolute;
}
